<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Ãrbol de Especies', gly: 'bug', clr: 'info'} %>
		<%= render partial: 'filo_elementos/partials/show_elemento', locals: {elemento: @filo_elemento, especie: @filo_especie} %>






	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Especies', gly: 'bug', clr: 'info'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'especies', a: 'index'} %>
	</div>
</div>
