<div class='row'>
	<div class=col-md-6>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'ind_estructuras'} %>
	</div>
	<div class=col-md-6>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'ind_sets'} %>
	</div>
</div>
