<p id="notice"><%= notice %></p>

<p>
  <strong>Ind lenguaje:</strong>
  <%= @ind_lenguaje.ind_lenguaje %>
</p>

<%= link_to 'Edit', edit_ind_lenguaje_path(@ind_lenguaje) %> |
<%= link_to 'Back', ind_lenguajes_path %>
