<div class="tax-box">
	<div class='text-info'><small>
		<%= render partial: '0p/general/gly', locals: {gly: 'file'} %> Categorías</small>
	</div>
	<small><small>
	<% objeto.h_categorias.keys.sort.each do |h_key| %>
		<div class="row">
			<div class="col-9">
				<div style="padding-left: 1em;">
					<%= h_key.to_s %>
				</div>
			</div>
			<div class="col-3" align="right">
				<%= render partial: '0p/general/gly', locals: {gly: 'files'} %> 
				<%= @objeto.h_categorias[h_key].length %>
			</div>
		</div>
	<% end %>		
	</small></small>
</div>