<div class="tax-box">
	<div class='text-info'><small>
		<%= render partial: '0p/general/gly', locals: {gly: 'collection'} %>Sinonimia</small>
	</div>
	<small><small>
	<% objeto.filo_sinonimos.each do |sino| %>
		<div class="row">
			<div class="col-9">
				<% unless sino.especie.blank? %>
					<%= link_to sino.filo_sinonimo, sino.especie %>
				<% end %>
			</div>
			<div class="col-3" align="right">
				<% unless sino.especie.blank? %>
					<%= render partial: '0p/general/gly', locals: {gly: 'files'} %> 
					<%= sino.especie.publicaciones.count %>
				<% end %>
			</div>
		</div>
	<% end %>		
	</small></small>
</div>