<%= render partial: 'taxonomia/filo_especies/taxonomia/link_padre', locals: {objeto: @objeto} %>
<%= render partial: '0p/general/gly_title_size', locals: {gly: 'bug', title: "Especie | #{@objeto.filo_especie}", size: 5} %>

<small>
</small>
<div class="row">
	<div class="col-lg-6 col-xs-12">
		<% @coleccion['filo_especies'].each do |especie| %>
			<div class="especie">
				<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: especie} %>
			</div>
		<% end %>
	</div>
	<div class="col-lg-6 col-xs-12"></div>
</div>