<!-- TITULO -->
<%= render partial: 'taxonomia/filo_elementos/partials/titulo/titulo_elemento', locals: {objeto: @objeto, padres: @padres, params_indice: params[:indice]} %>

<%= render partial: 'taxonomia/filo_elementos/partials/cllps/cllps_display_all', locals: {objeto: @objeto} %>

<div class="tax-box">

	<%= render partial: 'taxonomia/filo_elementos/partials/subs/elementos', locals: {objeto: @objeto, coleccion: @coleccion['filo_elementos']} %>

	<%= render partial: 'taxonomia/filo_elementos/partials/subs/especies', locals: {objeto: @objeto, coleccion: @coleccion['filo_especies']} %>

</div>