<%= form_for :compartir_carpeta, url: "/carpetas/compartir_carpeta" do |form| %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Clave de carpeta', v: true } %>
	<div class="row no-gutters">
		<div class="col-9">
			<%= form.text_field(:clave, class: 'form-control' ) %>
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-info">
				<i class="bi bi-caret-right-square icon-white"></i>
			</button>
		</div>
	</div>
	<div class='form-inline'>
	</div>
<% end  %>