<div class="row">
	<div class="col-10 text-info">
		<i class="bi bi-<%= tipo == 'Carpeta' ? 'folder' : 'share' %>"></i> <%= tipo.pluralize %>
	</div>
	<div class="col-2">
		<%= render layout: '0p/collapse/link', locals: {label: "Nueva#{tipo}", objeto: nil, tooltip: "Nueva #{tipo}"} do %>
			<i class="bi bi-plus-circle"></i>
		<% end %>
	</div>
</div>