
<div class='row'>
	<div class='col-md-1'>
		<small><%= form.label 'Orden' %></small></br>
		<%= form.text_field(:orden, class: 'form-control') %>
	</div>
	<div class='col-md-11'>
		<small><%= form.label 'Filo Orden' %></small></br>
		<%= form.text_field(:filo_orden, class: 'form-control') %>
	</div>
</div>
