<small>
	<!-- NUEVO ELEMENTO -->
	<span><a data-toggle="collapse" href="#collapseElemento" role="button" aria-expanded="false" aria-controls="collapseElemento">nuevo elemento</a></span>

	<% unless params[:indice].blank? %>
		<!-- NUEVO ESPECIE -->
		<span><a data-toggle="collapse" href="#collapseEspecie" role="button" aria-expanded="false" aria-controls="collapseEspecie">nueva especie</a></span>
	<% end %>
	<!-- MUEVE ELEMENTO -->
	<% unless params[:indice].blank? %>
		<span><a data-toggle="collapse" href="#collapseMueveElemento" role="button" aria-expanded="false" aria-controls="collapseMueveElemento"><i class="bi bi-diagram-2"></i></i></a></span>

		<%= render partial: 'taxonomia/filo_elementos/taxonomia/btns_e', locals: {objeto: objeto} %>
	<% end %>

	<%#= render partial: 'aplicacion/publicos/partials/counts', locals: {objeto: objeto} unless params[:indice].blank? %>

	<div class="collapse" id="collapseElemento">
	  <div class="card card-body">
	  	<%= render partial: 'taxonomia/filo_elementos/taxonomia/form_nuevo_child', locals: {objeto: objeto} %>
	  </div>
	</div>

	<div class="collapse" id="collapseEspecie">
	  <div class="card card-body">
	  	<%= render partial: 'taxonomia/filo_especies/taxonomia/form_nueva_especie', locals: {objeto: objeto} %>
	  </div>
	</div>

	<% unless params[:indice].blank? %>
		<div class="collapse" id="collapseMueveElemento">
		  <div class="card card-body">
		  	<%= render partial: 'taxonomia/filo_elementos/taxonomia/mueve_elemento', locals: {objeto: objeto} %>
		  </div>
		</div>
	<% end %>
</small>
</br>