<%= render partial: 'help/0help/tema_ayuda/portada' %>

<p class="text-center"><small><i>Crédito fotografías: <b>Jean Paul de la Harpe</b></i></small></p>

<b>
<h4 class='text-primary text-center'>Agradecimientos a: Proyecto ANID PIA/BASAL FB0002</h4>
<%#= image_tag 'Proyecto ID.jpg', class: "mx-auto d-block" %>
<h5 class='text-primary text-center'>SILVA-ARANGUIZ E, J CHINGA & H CHINGA (2021) <i>Repositorio Citas Bibliográficas Vertebrados Chilenos</i> http://cvch.cl</h5>
</b>
<h4 class='text-primary text-center'>Fecha Lanzamiento : 01 de Marzo, 2021</h4>

<%= render partial: 'help/0help/tema_ayuda/init_elementos' %>

<h4 class='text-warning text-center'>ADVERTENCIA</h4>
<h6 class='text-warning text-center'>El dispositivo de traducción automática de su navegador produce efectos que distorsionan los datos de nuestra colección, recomendamos su desactivación.</h6>
</br>

<%= render partial: '0p/general/titulo', locals: {c: 'publicaciones', a: nil, titulo: 'últimas 10 actualizaciones', size: '5'} %>

<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'publicaciones', a: 'inidex'} %>