<div class="tax-titulo">

	<%= render partial: 'taxonomia/filo_elementos/partials/titulo/links_padres', locals: {padres: padres} %>

	<div class="row">
		<div class="col-8">
			<%= render partial: 'taxonomia/filo_especies/partials/titulo/nombre_especie', locals: {objeto: objeto} %>
		</div>
		<div class="col-4" align='right'>
			<%= render partial: 'taxonomia/filo_especies/partials/titulo/cllps_e_links', locals: {objeto: objeto} %>
		</div>
	</div>

	<!-- OCULTO : Inforrmación deteriorada -->
	<%#= render partial: 'taxonomia/filo_especies/partials/titulo/info', locals: {objeto: objeto} %>
	<%= render partial: 'taxonomia/filo_especies/partials/titulo/especie_sinonimo_msg', locals: {objeto: objeto} %>
</div>