<p id="notice"><%= notice %></p>

<p>
  <strong>Ind sinonimo:</strong>
  <%= @ind_sinonimo.ind_sinonimo %>
</p>

<%= link_to 'Edit', edit_ind_sinonimo_path(@ind_sinonimo) %> |
<%= link_to 'Back', ind_sinonimos_path %>
