<div class="lmenu-box">
	<%= render partial: 'publicaciones/categorias/titulo_categorias' %>
	<%= render partial: 'publicaciones/categorias/cllps_sel_categoria', locals: {disponibles: disponibles, objeto: objeto} %>

	<%= render partial: 'publicaciones/categorias/categoria_list', locals: {objeto: objeto} %>
</div>