<!-- USO VERIFICADO -->
<div class="tax-box">
	<small>
	<b class='text-info'>Mueve elemento</b>
	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<p class='text-info'><i class="bi bi-diagram-2"></i> Abuelo</p>
			<% if objeto.parent.blank? %>
				<p class="text-warning">No hay destino disponible</p>
			<% else %>
				<ul>
					<li>
						<%= link_to objeto.parent.parent.blank? ? 'Base' : objeto.parent.parent.filo_elemento, "/filo_elementos/#{objeto.id}/subir" %>
					</li>
				</ul>
			<% end %>
		</div>
		<div class="col-lg-6">
			<p class='text-info'><i class="bi bi-diagram-2"></i> Hermanos</p>
			<% if @hermanos.blank? %>
				<p class="text-warning">No hay destinos disponibles</p>
			<% else %>
				<ul>
					<% @hermanos.each do |elemento| %>
							<li><%= link_to elemento.filo_elemento, "/filo_elementos/#{objeto.id}/bajar?indice=#{elemento.id}" %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
	</small>
</div>