<p id="notice"><%= notice %></p>

<p>
  <strong>Ind clave:</strong>
  <%= @ind_clave.ind_clave %>
</p>

<%= link_to 'Edit', edit_ind_clave_path(@ind_clave) %> |
<%= link_to 'Back', ind_claves_path %>
