<div style="padding-left: <%= objeto.n_indent %>em; line-height: 18px;">
	<small class="text-warning"><i class="bi bi-cone-striped"></i> No se mostró un segundo nivel de especies para optimizar desplliegue.</br> Para verlos acceda a una especiie de la lista.</small>	
</div>