<div style="padding-left: <%= objeto.n_indent %>em; line-height: 18px;">
	<small class="text-warning"><i class="bi bi-cone-striped"></i> Especies no fueron desplegadas para optimizar despliegue,</br> para verlas acceda a <%= objeto.filo_elemento %> </small>	
</div>