<%= form_for :compartir_carpeta, url: "/carpetas/compartir_carpeta" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:clave, size: 35, class: 'form-control' ) %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-folder icon-white"></i>
		</button>
	</div>
<% end  %>
