<!-- FORMULARIO PARA NUEVO SINONIMO -->
<small><b class='text-info'>Busca y asigna especie</b></small>
<%= form_for :busca_especie, url: "/filo_especies/asigna?objeto_id=#{@objeto.id}" do |form| %>

	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Especie buscada', v: true } %>
	<div class='form-inline'>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :especie } %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-bug"></i>
		</button>
	</div>
<% end  %>
