<%= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Portada', size: image_size[:portada]} %>
<%#= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Foot', size: image_size[:foot]} %>

<%#= render partial: 'help/tema_ayudas/partials/portada' %>

<b>
<h4 class='text-primary text-center'>Agradecimientos a: Proyecto ANID PIA/BASAL FB0002</h4>
<%#= image_tag 'Proyecto ID.jpg', class: "mx-auto d-block" %>
<h5 class='text-primary text-center'>SILVA-ARANGUIZ E, J CHINGA & H CHINGA (2021) <i>Repositorio Citas Bibliográficas Vertebrados Chilenos</i> http://cvch.cl</h5>
</b>
<h4 class='text-primary text-center'>Fecha Lanzamiento : 01 de Marzo, 2021</h4>




<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'izq'} %>
<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'der'} %>

<%#= render partial: 'home/h_links/partials/link', locals: {texto: 'Prueba'} %>



<%= render partial: 'help/tema_ayudas/partials/init_elementos' %>





<h4 class='text-warning text-center'>ADVERTENCIA</h4>
<h6 class='text-warning text-center'>El dispositivo de traducción automática de su navegador produce efectos que distorsionan los datos de nuestra colección, recomendamos su desactivación.</h6>
</br>

<%= render partial: '0p/general/titulo', locals: {c: 'publicaciones', a: nil, titulo: 'últimas 10 actualizaciones', size: '5'} %>

<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'publicaciones', a: 'inidex'} %>