<p class='text-info'>
	<i class="bi bi-file-check"></i>
	Áreas
	<% if admin? %>
		<a data-toggle="collapse" href="#collapseAreas" role="button" aria-expanded="false" aria-controls="collapseAreas">
			<i class="bi bi-plus-circle"></i>
		</a>
  	<% end %>
</p>

<% if admin? %>
	<div class="collapse" id="collapseAreas">
		<div class="card card-body">
			<small>
			<ul>
				<% @areas_disponibles.each do |area_objeto| %>
					<li><%= link_to area_objeto.area, "/areas/#{area_objeto.id}/asigna?class_name=Publicacion&objeto_id=#{@objeto.id}" %></li>
				<% end %>
			</ul>
			</small>
		</div>
	</div>
<% end %>

<small>
<ul>
	<% @objeto.areas.order(:area).each do |area| %>
	   	<li>
	   		<% if admin? and @objeto.areas.count > 1 %>
		   		<%= link_to "/areas/#{area.id}/desasignar?class_name=Publicacion&objeto_id=#{@objeto.id}" do %>
		   			<i class="bi bi-x-circle"></i>
		   		<% end %>
	   		<% end %>
	   		<%= link_to area.area, "/vistas?html_options[modelo]=Area&html_options[id]=#{area.id}" %>
	   	</li>
	<% end %>
</ul>
</small>