<%#= render partial: '0p/general/icon_text', locals: {text: 'Gestión de Categorías', gly: 'check-all', clr: 'info'} %>
</br>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/list/action_list', locals: {nombre: 'Asignadas', gly: 'card-checklist', clr: 'info', coleccion: @coleccion['categorias'], field: 'categoria', link: '/desasignar', gly_link: 'x-circle', base: true, action: admin?} %>
	</div>
	<div class='col-md-6'>
		<% if admin? %>
			<%= render partial: '0p/list/action_list', locals: {nombre: 'Disponibles', gly: 'card-list', clr: 'info', coleccion: @categorias_seleccion, field: 'categoria', link: '/asigna', gly_link: 'plus-circle', base: true, action: admin?} %>
		<% end %>
	</div>
</div>
