<p class='text-info'>
	<i class="bi bi-file-check"></i>
	Categorías
	<% if admin? %>
		<a data-toggle="collapse" href="#collapseCategorias" role="button" aria-expanded="false" aria-controls="collapseCategorias">
			<i class="bi bi-plus-circle"></i>
		</a>
  	<% end %>
</p>

<% if admin? %>
	<div class="collapse" id="collapseCategorias">
		<div class="card card-body">
			<small>
			<ul>
				<% @categorias_disponibles.each do |categoria_objeto| %>
					<li><%= link_to categoria_objeto.categoria, "/categorias/#{categoria_objeto.id}/asigna?class_name=Publicacion&objeto_id=#{@objeto.id}" %></li>
				<% end %>
			</ul>
			</small>
		</div>
	</div>
<% end %>

<small>
<ul>
	<% @objeto.categorias.order(:categoria).each do |categoria| %>
	   	<li>
	   		<% if admin? and @objeto.categorias.count > 1 %>
		   		<%= link_to "/categorias/#{categoria.id}/desasignar?class_name=Publicacion&objeto_id=#{@objeto.id}" do %>
		   			<i class="bi bi-x-circle"></i>
		   		<% end %>
	   		<% end %>
	   		<%= link_to categoria.categoria, "/vistas?html_options[modelo]=Categoria&html_options[id]=#{categoria.id}" %>
	   	</li>
	<% end %>
</ul>
</small>