<% if admin? %>
	<i class='text-muted'><small>Etiquetar nueva especie</small></i>
	<%= form_for :especie_base, url: "/especies/asigna?publicacion_id=#{@objeto.id}" do |form| %>
		<div class='form-inline'>
			<%= form.text_field(:especie, size: 35, class: 'form-control' ) %>
			<button type="submit" class="btn btn-info">
			  <i class="bi bi-plus-circle icon-white"></i>
			  <i class="bi bi-bug icon-white"></i>
			</button>
		</div>
	<% end  %>
<% end  %>
<% if usuario_signed_in? %></br><% end %>
<% @coleccion_publicacion.each do |objeto| %>
	<div class='row'>
		<div class='col-md-10'>
			<small>
			<b class='text-info'><i class="bi bi-check2-all"></i>
				<%= objeto.send(objeto.class.name.downcase)  %>
			</b>
			</small>
		</div>
		<div class='col-md-2'>
			<% if admin? %>
				<%= link_to link_x_btn(objeto, '/desasignar', true) do %>
					<i class="bi bi-x-circle"></i>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>