<%= form_for :nueva_carpeta, url: "/carpetas/nuevo?objeto_id=#{objeto.id}" do |form| %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Nueva carpeta', v: true } %>
	<div class="row no-gutters">
		<div class="col-9">
			<%= render partial: '0p/form_fields/text', locals: { form: form, token: :carpeta } %>			
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-info">
			  <i class="bi bi-caret-right-square icon-white"></i>
			</button>
		</div>
	</div>
<% end  %>
