<%= form_for :compartir_carpeta, url: "/carpetas/compartir_carpeta" do |form| %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Clave de carpeta', v: true } %>
	<div class='form-inline'>
		<%= form.text_field(:clave, class: 'form-control' ) %>
		<button type="submit" class="btn btn-info">
			<i class="bi bi-share icon-white"></i>
			<i class="bi bi-folder icon-white"></i>
		</button>
	</div>
<% end  %>
