<div class="lmenu-box">
	<%= render partial: 'publicaciones/especies/titulo_especies' %>
	<%= render partial: 'publicaciones/especies/cllps_form_etiqueta', locals: {objeto: objeto} %>

	<%= render partial: 'publicaciones/especies/especie_list', locals: {objeto: objeto, etiquetas: etiquetas} %>
</div>