<div class="row">
	<div class="col-lg-6 col-xs-12">
		<p class='text-info'><i class="bi bi-diagram-2"></i> Abuelo</p>
		<% if @abuelo.blank? %>
			No hay destino disponible
		<% else %>
			<ul>
				<li>
					<%= link_to @abuelo.filo_elemento, "/filo_especies/#{objeto.id}/subir" %>
				</li>
			</ul>
		<% end %>
	</div>
	<div class="col-lg-6">
		<p class='text-info'><i class="bi bi-diagram-2"></i> Hermanos</p>
		<% if @hermanos_elementos.blank? %>
			No hay destinos (elementos) disponibles
		<% else %>
			<ul>
				<% @hermanos_elementos.each do |elemento| %>
						<li><%= link_to elemento.filo_elemento, "/filo_especies/#{objeto.id}/bajar?class=#{elemento.class.name}&indice=#{elemento.id}" %></li>
				<% end %>
			</ul>
		<% end %>

		<% if @hermanos_especies.blank? %>
			No hay destinos (especies) disponibles
		<% else %>
			<ul>
				<% @hermanos_especies.each do |especie| %>
					<% unless especie.id == @objeto.id %>
						<li><%= link_to especie.filo_especie, "/filo_especies/#{objeto.id}/bajar?class=#{especie.class.name}&indice=#{especie.id}" %></li>
					<% end %>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>