<div class="lmenu-box">
	<%= render partial: 'publicaciones/sets/titulo_sets', locals: {objeto: objeto} %>

	<%= render partial: 'publicaciones/sets/set_list', locals: {objeto: objeto, list: list} %>
</div>