<div class="row">
	<div class="col-10 text-info">
		<i class="bi bi-flower2"></i>
		Sets de datos
	</div>
	<div class="col-2">
		<% if admin? %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/eco_sets/new?pid=#{objeto.id}", tooltip: 'Nuevo set'} do %>
				<i class="bi bi-plus-circle"></i>
			<% end %>
		<% end %>
	</div>
</div>