<small>Asociar etiqueta:</small></br>
<!-- FORMULARIO ASOCIAR ETIQUETA -->
<%= form_for :asocia_etiqueta, url: "/filo_especies/asocia_etiqueta?objeto_id=#{@objeto.id}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:etiqueta, size: 35, class: 'form-control' ) %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-tag"></i>
		</button>
	</div>
<% end  %>
