<% if @paginate[c] %>
	<% if location == 'abajo' %><div class="paginate-box"><small><small><%= page_entries_info(@coleccion[c]) %></small></small></div><% end %>
		<%= paginate @coleccion[c] %>
	<% if location == 'arriba' %><div class="paginate-box"><small><small><%= page_entries_info(@coleccion[c]) %></small></small></div><% end %>
<% end %>