			<!-- NO SE DESPLIEGAN ESPECIES EN BASE -->
			<% unless objeto.blank? %>
				<% if coleccion.count > cfg_taxonomia[:esp_base_max] %>
					<%= render partial: 'taxonomia/filo_especies/partials/line/no_hijos_msg', locals: {objeto: objeto} %>
				<% end %>
				<!-- SIEMPRE SE DESPLIEGAN TODAS LAS ESPECIES DEL ELEMENTO -->
				<% coleccion.each do |especie| %>
					<%= render partial: 'taxonomia/filo_especies/partials/line/line_especie', locals: {objeto: especie} %>

					<% unless coleccion.count > cfg_taxonomia[:esp_base_max] %>
						<small>
						<div class="sub_especies" style='padding-left: 2em'>
							<% if especie.children.count > cfg_taxonomia[:esp_dsply_max] %>
								<div style="padding-left: <%= especie.n_indent %>em; line-height: 18px;">
									<small><i class="bi bi-stoplights"></i> Sub especies no fueron desplegados para optimizar despliegue,</br> para verlas acceda a la especie! </small>
								</div>
							<% else %>
								<% especie.children.order(:filo_especies).each do |sub_especie| %>
									<%= render partial: 'taxonomia/filo_especies/partials/line/line_especie', locals: {objeto: sub_especie} %>
								<% end %>
							<% end %>
						</div>
						</small>
					<% end %>

				<% end %>

			<% end %>
