		<table class="table table-bordered">
			<thead>
				<tr><th><%= controller_name.classify.constantize::SELECTOR_NAME[action_name] %></th></tr>
			</thead>
			<tbody>
				<% @frame_selector.each do |selector| %>
				<tr>
				<td>
					<% if selector == @sel %>
						<%= selector %>
					<% else %>
						<%= link_to selector, controller: controller_name, action: action_name, html_options: get_html_opts(@options, 'sel', selector) %>
					<% end %>
				</td>
				</tr>
				<% end %>
			</tbody>
		</table>
