<p id="notice"><%= notice %></p>

<p>
  <strong>Ind expresion:</strong>
  <%= @ind_expresion.ind_expresion %>
</p>

<%= link_to 'Edit', edit_ind_expresion_path(@ind_expresion) %> |
<%= link_to 'Back', ind_expresiones_path %>
