<div class='row'>
  <div class='col-md-4'>
    <%= render partial: '0p/tabla/tabla', locals: {c: 'areas', a: 'index'} %>
  </div>
  <div class='col-md-4'>
    <%= render partial: '0p/tabla/tabla', locals: {c: 'categorias', a: 'index'} %>
  </div>
  <div class='col-md-4'>
    <%= render partial: '0p/tabla/tabla', locals: {c: 'especies', a: 'index'} %>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <%#= render partial: '0p/tabla/tabla', locals: {c: 'investigadores', a: 'index'} %>
  </div>
  <div class='col-md-6'>
    <%#= render partial: '0p/tabla/tabla', locals: {c: 'revistas', a: 'index'} %>
  </div>
</div>