<div class="card text-white">
	<%= image_tag HImagen.find_by(nombre: 'Portada').imagenes.order(created_at: :desc).first.imagen.url %>
  <div class="card-img-overlay">
  	<h1><%=config[:app][:nombre]%></h1>
  </div>
</div>