<small><small>
<div class="row">
	<div class="col-9">
		<%= objeto.eco_piso %>
	</div>
	<div class="col-3" align="right">
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>
</small></small>