<small>
<div class="row">
	<div class="col-10">
		<%= objeto.filo_fuente %>
	</div>
	<div class="col-2" align="right">
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>
</small>