
<%#= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Colecciones', size: '5'} %>
</br>
<div class='row'>
	<div class='col-md-3'>
		<small><%= render partial: '0p/tabs/tabs', locals: {tabs: @tabs, tag: 'tab', active: @tab } %></small>

		<%= render partial: '0p/list/selector', locals: {titulo: 'Ãreas', list: @list_selector, sel: @sel, options: @options} if params[:search].blank? %>
	</div>
	<div class='col-md-9'>
		<%= render partial: '0p/search/form', locals: {path: vistas_path} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'publicaciones', a: 'index'} %>
	</div>
</div>
