<ul class="list-group">
	<li class="list-group-item"><b>Ãreas</b></li>
	<small>
	<% Area.all.order(:area).each do |area| %>
		<li class="list-group-item"><%= area.area %></li>
	<% end %>
	</small>
</ul>