<p>
  <a class="btn2 btn-primary2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Distribución
  </a>
</p>

<% if admin? %>
	<div class="collapse" id="collapseExample">
		<div class="card card-body">
			<small>
			<ul>
				<% @regiones_para_asignar.each do |region| %>
					<li>
						<%= link_to "/regiones/#{region.id}/asigna?o=#{objeto.class.name}&indice=#{objeto.id}" do %>
						<%= region.region %>
						<% end %>
					</li>
				<% end %>
			</ul>
			</small>
		</div>
	</div>
<% end %>

<small>
<ul>
	<% objeto.regiones.order(:orden).each do |region| %>
		<li>
			<i class="bi bi-check-all"></i>
			<%= region.region %>
			<% if admin? %>
				<%= link_to "/regiones/#{region.id}/desasigna?o=#{objeto.class.name}&indice=#{objeto.id}" do %>
					<i class="bi bi-arrow-bar-up"></i>
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>
</small>