<small>
  <p>
    <a data-toggle="collapse" href="#collapseEnlaces" role="button" aria-expanded="false" aria-controls="collapseEnlaces">
      Enlaces
    </a>
  </p>
  <div class="collapse" id="collapseEnlaces">
    <div class="card card-body">
    	<%= render partial: 'aplicacion/publicos/partials/form_nuevo_enlace', locals: {objeto: objeto} if admin? %>
    </div>
  </div>

  <% if objeto.enlaces.empty? %>
    <p class='text-muted'>Sin enlaces ingresados</p>
  <% else %>
    <ul>
      <% objeto.enlaces.each do |enlace| %>
        <li><%= link_to enlace.descripcion, enlace.enlace, target: '_blank' %></li>
      <% end %>
    </ul>
  <% end %>

</small>