Sinonimia
<small>
<% unless objeto.sinonimia.blank? %>
	<%#= objeto.sinonimia_list %>
	<ul>
		<% objeto.sinonimia_list.each do |sinonimo| %>
			<li><%= sinonimo[1] %></li>
		<% end %>
	</ul>
<% end %>
</small>
