<small>
<!--small-->
	<!--div class="text-info" align='center'><p>Sinonimia de la fuente original.</p></div-->

	<!--div style="padding-left: 3em;"-->

		<%# if objeto.multiple_sinonimia? %>
			<%# objeto.sinonimia_list.each do |sinonimo| %>
				<!--i class="bi bi-dot"></i--> 
				<%#= sinonimo[0] %><!--/br-->
			<%# end %>
		<%# end %>
	<!--/div-->

<!--/small-->