<% elemento.filo_especies.each do |especie| %>
	<tr>
		<td><small><%= "#{("- " * 20)}[Especie] - #{especie.filo_especie}" %></small></td>
		<% if controller_name == 'especies' %><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: especie} %></td><% end %>
	</tr>
	<% unless especie.children.empty? %>
		<% especie.children.each do |subespecie| %>
			<td><small><%= "#{("- " * 25)}[SubEspecie] - #{subespecie.filo_especie}" %></small></td>
			<% if controller_name == 'especies' %><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: subespecie} %></td><% end %>
		<% end %>
	<% end %>
<% end %>
