<div class="row">
	<div class="col-lg-6 col-xs-6">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'areas', title: 'Áreas', link_new: "/areas/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'areas'} %>
	</div>
	<div class="col-lg-6">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'categorias', title: 'Categorías', link_new: "/categorias/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'categorias'} %>
	</div>
</div>