<div class="row">
	<div class="col-lg-6 col-xs-6">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'filo_categoria_conservaciones', title: 'Categorías de conservación', link_new: "/filo_categoria_conservaciones/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_categoria_conservaciones'} %>
	</div>
	<div class="col-lg-6">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'filo_fuentes', title: 'Fuentes de información', link_new: "/filo_fuentes/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_fuentes'} %>
	</div>
</div>