<div class="row">
	<div class="col-lg-6 col-xs-6">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'filo_ordenes', title: 'Tipos Elemento', link_new: "/filo_ordenes/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_ordenes'} %>
	</div>
	<div class="col-lg-6">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'filo_tipo_especies', title: 'Tipos Especie', link_new: "/filo_tipo_especies/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_tipo_especies'} %>
	</div>
</div>