<%= form_for :nuevo_equipo, url: "/equipos/nuevo?tab=#{@tab}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:equipo, size: 60, class: 'form-control', placeholder: 'Nombre Equipo' ) %>
		<%#= form.submit '+ Equipo'  %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-person-check icon-white"></i>
		</button>
	</div>
<% end  %>
</br>