<% if @tab == 'carpetas' %>
	<%= form_for :carpeta_base, url: "/equipos/nueva_carpeta_equipo?equipo_id=#{@objeto.id}" do |form| %>
		<div class='form-inline'>
			<%= form.select :carpeta_id, @activo.carpetas.collect { |p| [p.carpeta, p.id] }, include_blank: false, prompt: "Seleccione Carpeta" %>
			<%= form.submit '+ Carpeta'  %>
			<%= form.submit '- Carpeta'  %>
		</div>
	<% end  %>
	</br>
<% end %>