<small>
<div style="padding-left: 1em; padding-right: 2em; line-height: 15px;">
	<% objeto.areas.order(:area).each do |area| %>
		<div class="row">
			<div class="col-10">
				<%= link_to area.area, "/vistas?html_options[modelo]=Area&html_options[id]=#{area.id}" %>
			</div>
			<div class="col-2">
		   		<% if admin? and objeto.areas.count > 1 %>
		   			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/areas/#{area.id}/desasignar?class_name=Publicacion&objeto_id=#{objeto.id}", tooltip: 'Desasigna Ãrea'} do %>
			   			<i class="bi bi-trash"></i>
			   		<% end %>
		   		<% end %>
			</div>
		</div>
	<% end %>
</div>
</small>