<div class="lmenu-box">
	<%= render partial: 'publicaciones/areas/titulo_areas' %>
	<%= render partial: 'publicaciones/areas/cllps_sel_area', locals: {disponibles: disponibles, objeto: objeto} %>

	<%= render partial: 'publicaciones/areas/area_list', locals: {objeto: objeto} %>
</div>