	<% if admin? %>
		<div class="cllps-inner-box">
			<%= render layout: '0p/collapse/display', locals: {label: 'SelArea', objeto: nil} do %>
				<small class="text-info"><b>Seleccionar Área</small></b></br>
				<div class="collapse-display-list">
					<% disponibles.each do |area_objeto| %>
						<div style="padding-left: 2em;">
							<small><%= link_to area_objeto.area, "/areas/#{area_objeto.id}/asigna?class_name=Publicacion&objeto_id=#{objeto.id}" %></small>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
