<div class="tax-box">
	<!-- DESPLIEGA TODOS LOS ELEMENTOS RELACIIONADOS CON LA ÃREA -->
	<% @objeto.filo_elementos.order(:filo_elemento).each do |elemento| %>
		<%= render partial: 'taxonomia/filo_elementos/partials/show_tree', locals: {elemento: elemento} %>
	<% end %>
</div>
