<div class="lmenu-box">
	<h6 class="text-info"><i class="bi bi-check-square"></i> Categorías</h6>
	<% @sel_categorias.each do |categoria| %>
		<small>
		<div class="row">
			<div class="col-9">
				<div style="padding-left: 1em;">
					<% if @modelo == categoria[0].class.name and @id == categoria[0].id %>
						<b class='text-muted'><%= categoria[0].categoria %></b></br>
					<% else %>
						<%= link_to categoria[0].categoria, "vistas?html_options[modelo]=#{categoria[0].class.name}&html_options[id]=#{categoria[0].id}" %>
					<% end %>
				</div>
			</div>
			<div class="col-3" align="right" style="padding-right: 1em;">
				<%= categoria[1] == 0 ? '-' : categoria[1] %>
			</div>
		</div>
		</small>

	<% end %>
</div>