<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'administradores', a: 'index'} %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'areas', a: 'index'} %>
	</div>
</div>

</br></br>

<% if usuario_signed_in? %>
<% if session[:es_administrador] %>

<div class='row'>
	<div class='col-md-12'>
		<%= render partial: '0help/mejora/index', locals: {c: 'mejoras', a: 'index'} %>
	</div>
</div>

<% end %>
<% end %>