<%= render partial: 'taxonomia/filo_especies/partials/distribucion/titulo_distribucion', locals: {objeto: objeto} %>

<% objeto.regiones.order(:orden).each do |region| %>
	<small><small>
	<div class="row">
		<div class="col-9">
			<i class="bi bi-check-all"></i>
			<%= region.region %>
		</div>
		<div class="col-3" align='right'>
			<% if admin? %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/regiones/#{region.id}/desasigna?o=#{objeto.class.name}&indice=#{objeto.id}", tooltip: 'Sacar región de la distribución'} do %>
				<%#= link_to "/regiones/#{region.id}/desasigna?o=#{objeto.class.name}&indice=#{objeto.id}" do %>
					<i class="bi bi-trash"></i>
				<% end %>
			<% end %>
		</div>
	</div>
	</small></small>
<% end %>