<div style="padding-left: <%= objeto.n_indent %>em; line-height: 18px;">
	<small class="text-warning"><i class="bi bi-cone-striped"></i> <%= tipo_elementos %> no fueron desplegados para optimizar despliegue,</br> para verlos acceda a <%= objeto.filo_elemento %> </small>	
</div>