<div class='elemento-box'>
	<div class='text-center text-muted'><small>Agradecimientos a: Proyecto ANID PIA/BASAL FB0002</small></div>
	<p class='text-center'><small>SILVA-ARANGUIZ E, J CHINGA & H CHINGA (2021)</small></br> <i>Repositorio Citas Bibliográficas de Vertebrados Chilenos</i></br> http://cvch.cl</br>
	<small class='text-muted'>Fecha Lanzamiento : 01 de Marzo, 2021</small>
	</p>
</div>