<div class="foto-box">
	<%= render partial: '0p/imagenes/imagen_text_over', locals: {archivo: h_imagen.imagen.url, alt: 'Portada', posicion: ['tl', 'br'], text: [app_sigla, h_imagen.credito_imagen], size: [1, 6]} %>
</div>