<div class="foto-box" style="margin-bottom: 2px;">
	<%= render partial: '0blog/nota_h', locals: {articulo: BlgArticulo.find_by(blg_articulo: 'CVCh')} %>
</div>
<div class="foto-box" style="margin-bottom: 2px;">
	<%= render partial: '0blog/nota_h', locals: {articulo: BlgArticulo.find_by(blg_articulo: 'Comunidad')} %>
</div>