<small>
  <hr>
<% unless footless_controller?(controller_name) %>

<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2 class='text-muted'>CVCh</h2>
      <h4 class='text-muted'>Repositorio de Citas Bibliográficas</br>Vertebrados Chilenos</h4>
      
      <p class="pr-5 text-muted">www.cvch.cl. </p>
      <!--p class='sociales' align='center'><a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a>  <a href="#"><i class="bi bi-instagram"></i></i></a></p-->
    </div>
    <div class="col-lg-5 col-xs-12">
      <%= image_tag HImagen.find_by(nombre: 'Foot').imagenes.first.imagen.url, class: 'img-fluid' %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2023. Derechos reservados.</small></p></br>
    </div>
  </div>
</div>
</div>

<% end %>
</small>